@model StudentListViewModel

@{
    Layout = "_EmployerLayout";
    ViewData["Title"] = "Список студентов";
}

<div class="container-fluid">
    <div class="card row">
        <div class="card-header">
            Поиск
        </div>
        <div class="card-body">
            <form asp-action="Index" asp-controller="Employer" asp-area="Employer" method="get">
                <div class="input-group">
                    <input name="SearchString" value="@ViewData["CurrentFilter"]" type="text" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<div class="row">
    <table class="table table-bordered table-hover bg-white">
        <thead>
            <tr>
                <th class="col-sm">
                    <a asp-action="Index" asp-controller="Employer" asp-area="Employer" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ФИО</a>
                </th>
                <th class="col-sm">
                    <a asp-action="Index" asp-controller="Employer" asp-area="Employer" asp-route-sortOrder="@ViewData["DobSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Дата рождения</a>
                </th>
                <th class="col-sm">
                    <a asp-action="Index" asp-controller="Employer" asp-area="Employer" asp-route-sortOrder="@ViewData["GenderSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Пол</a>
                </th>
                <th class="col-sm">
                    <a asp-action="Index" asp-controller="Employer" asp-area="Employer" asp-route-sortOrder="@ViewData["GradeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Курс</a>
                </th>
                <th class="col-sm">
                    <a asp-action="Index" asp-controller="Employer" asp-area="Employer" asp-route-sortOrder="@ViewData["DirectionSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Направление</a>
                </th>
                <th class="col-sm">
                    <a asp-action="Index" asp-controller="Employer" asp-area="Employer" asp-route-sortOrder="@ViewData["AchievementsSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Количество достижений</a>
                </th>
                <th class="col-md">Оценки</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                    <tr>
                        <td class="align-middle">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(student.User.Photo ?? Model.NotFoundUserPhoto))"
                                class="rounded-circle" height="40" width="40" asp-append-version="true" />
                            <a target="_blank" asp-area="Employer" asp-controller="Employer" asp-action="ViewStudentProfile" asp-route-id="@student.Id">@student.User.Name</a>
                        </td>
                        <td class="align-middle text-center">@student.Dob.ToShortDateString()</td>
                        <td class="align-middle text-center">@student.Gender</td>
                        <td class="align-middle text-center">@student.Group.Grade</td>
                        <td class="align-middle">@student.Group.Direction.Name</td>
                        <td class="align-middle text-center">@student.Achievements.Count()</td>
                        <td class="align-middle">

                            @{
                            var scoreCount = Model.GetScoreCount(student);}

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-sm">Зачет</th>
                                        <th class="col-sm">Отлично</th>
                                        <th class="col-sm">Хорошо</th>
                                        <th class="col-sm">Удовлетворительно</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td class="align-middle text-center">@scoreCount.Offset</td>
                                    <td class="align-middle text-center">@scoreCount.Five</td>
                                    <td class="align-middle text-center">@scoreCount.Four</td>
                                    <td class="align-middle text-center">@scoreCount.Three</td>
                                </tbody>
                            </table>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
    </div>
    <br />

    @{
        var prevDisabled = !Model.Students.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Students.HasNextPage ? "disabled" : "";
    }

    @if (Model.Students.TotalPages > 1)
    {
    <nav class="row">
        <ul class="pagination justify-content-center fixed-bottom">
            <li class="page-item @prevDisabled">
                <a asp-action="Index"
                   asp-controller="Admin"
                   asp-area="Admin"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.Students.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link"> Назад
                </a>
            </li>
            <li class="page-item @nextDisabled">
                <a asp-action="Index"
                   asp-controller="Admin"
                   asp-area="Admin"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.Students.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link"> Вперед
                </a>
            </li>
        </ul>
    </nav>
    }
</div>