@model StudentListViewModel

@{
    Layout = "_TeacherLayout";
    ViewData["Title"] = "Список студентов";
}

<div class="card">
    <div class="card-header">
        <h2>@($"Институт {Model.Directions.Select(p => p.Department.Name).FirstOrDefault().ToLowerInvariant()}")</h2>
    </div>
</div>
<div class="accordion" id="directionList">
    @foreach (var direction in Model.Directions)
    {
        if(direction.Groups.Any())
        {
                <div class="card">
                <div class="card-header bg-white" id="@($"heading{direction.Id}")">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="@($"#collapse{direction.Id}")" aria-expanded="false" aria-controls="@($"collapse{direction.Id}")">
                            @direction.Name
                        </button>
                    </h2>
                </div>

                <div id="@($"collapse{direction.Id}")" class="collapse" aria-labelledby="@($"heading{direction.Id}")" data-parent="#directionList">
                    <div class="card-body">
                            <div class="accordion" id="@($"groupList{direction.Id}")">
                            @foreach (var group in direction.Groups)
                            {
                                @if (group.Students.Any())
                                {
                                        <div class="card">
                                            <div class="card-header bg-white" id="@($"heading{group.Id}")">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="@($"#collapse{group.Number}")" aria-expanded="false" aria-controls="@($"collapse{group.Number}")">
                                                        @($"{group.Direction.GroupName}-{group.Grade}{group.Number}")
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="@($"collapse{group.Number}")" class="collapse" aria-labelledby="@($"heading{group.Id}")" data-parent="#@($"groupList{direction.Id}")">
                                                <div class="card-body">
                                                    <ul class="list-group">
                                                        @foreach (var student in group.Students)
                                                        {
                                                            <li class="list-group-item">
                                                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(student.User.Photo ?? Model.NotFoundUserPhoto))" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                                                                <a target="_blank" asp-area="Teacher" asp-controller="Teacher" asp-action="ViewStudentProfile" asp-route-id="@student.Id">@student.User.Name</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                }
                            }
                            </div>
                    </div>
                </div>
            </div>
        }
    }
</div>