@using DynamicVML.Extensions
@model AddDirectionsViewModel

<div class="row">
    <div class="col-sm" style="padding-right: 0; padding-left: 0;">
<div class="card">
    <div class="card-header">
        Список направлений
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th class="col-sm-auto">Номер</th>
                    <th class="col-sm-auto">Факультет</th>
                    <th class="col-sm-auto">Тип обучения</th>
                    <th class="col">Название</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var direction in Model.Directions)
                {
                    <tr>
                        <td class="align-middle text-center">
                            @direction.Id
                        </td>
                        <td class="align-middle">
                            @direction.Department.Name
                        </td>
                        <td class="align-middle">
                            @direction.ProgramType.Name
                        </td>
                        <td class="align-middle">
                            @direction.Name
                        </td>
                        <td class="align-middle">
                            <a asp-area="Admin" asp-controller="Admin" asp-action="EditDirection" asp-route-id="@direction.Id" class="btn btn-warning">Изменить</a>
                        </td>
                        <td class="align-middle">
                            <form method="post" asp-area="Admin" asp-controller="Admin" asp-action="DeleteDirection" asp-route-id="@direction.Id">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    </div>
</div>
<div class="row">
    <div class="col-sm" style="padding-right: 0; padding-left: 0;">
<div class="card">
    <div class="card-header">
        Добавить новое направление
    </div>
    <div class="card-body">
        <form method="post" asp-area="Admin" asp-controller="Admin" asp-action="AddDirection">
            <div class="form-group">
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <div><span asp-validation-for="GroupName" class="text-danger"></span></div>
                <label asp-for="GroupName"></label>
                <input asp-for="GroupName" class="form-control" />
            </div>
            <div class="form-group">
                <div><span asp-validation-for="Department" class="text-danger"></span></div>
                <label asp-for="Department"></label>
                <select class="custom-select" asp-for="Department" asp-items="@Model.DepartmentsList">
                    <option disabled selected>Выберите факультет</option>
                </select>
            </div>
            <div class="form-group">
                <div><span asp-validation-for="ProgramType" class="text-danger"></span></div>
                <label asp-for="ProgramType"></label>
                <select class="custom-select" asp-for="ProgramType" asp-items="@Model.ProgramTypeList">
                    <option disabled selected>Выберите тип обучения</option>
                </select>
            </div>
            <div class="form-group">
                <div class="card">
                    <div class="card-header">
                        Список предметов
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @Html.ListEditorFor(x => x.SubjectsList, Url.Action("AddSubject"), "Добавить предмет")
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Добавить</button>
        </form>
    </div>
</div>
    </div>
</div>