@using DynamicVML.Extensions
@model EditDirectionViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Редактирование направления";
}

<div class="card">
    <div class="card-header">
        @Model.Name
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                Список предметов
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col">Название</th>
                            <th class="col">Курс</th>
                            <th class="col">Семестр</th>
                            <th class="col">Вид контроля</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subject in Model.Subjects)
                        {
                        <tr>
                            <td class="align-middle">
                                @subject.Name
                            </td>
                            <td class="align-middle">
                                @subject.Grade
                            </td>
                            <td class="align-middle">
                                @subject.Semester
                            </td>
                            <td class="align-middle">
                                @subject.ControlType.Name
                            </td>
                            <td class="align-middle">
                                <form method="post" asp-area="Admin" asp-controller="Admin" asp-action="DeleteSubject" asp-route-id="@subject.Id">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <form method="post" asp-area="Admin" asp-controller="Admin" asp-action="EditDirection">
            <div class="card">
                <div class="card-header">
                    Добавить предмет
                </div>
                <div class="card-body">
                    @Html.ListEditorFor(x => x.SubjectsList, Url.Action("AddSubject"), "Добавить предмет")
                </div>
            </div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <div><span asp-validation-for="GroupName" class="text-danger"></span></div>
                <label asp-for="GroupName"></label>
                <input asp-for="GroupName" class="form-control" />
            </div>
            <div class="form-group">
                <div><span asp-validation-for="Department" class="text-danger"></span></div>
                <label asp-for="Department"></label>
                <select class="custom-select" asp-for="Department" asp-items="@Model.DepartmentsList">
                    <option disabled selected>Выберите факультет</option>
                </select>
            </div>
            <div class="form-group">
                <div><span asp-validation-for="ProgramType" class="text-danger"></span></div>
                <label asp-for="ProgramType"></label>
                <select class="custom-select" asp-for="ProgramType" asp-items="@Model.ProgramTypeList">
                    <option disabled selected>Выберите тип обучения</option>
                </select>
            </div>
            <a asp-area="Admin" asp-controller="Admin" asp-action="AddData" class="btn btn-secondary">Отмена</a>
            <button class="btn btn-primary" type="submit">Обновить</button>
        </form>
    </div>
</div>