@using Microsoft.AspNetCore.Identity
@model UsersListViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Пользователи";
}

<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-sm">ФИО</th>
            <th class="col-sm">Email</th>
            <th class="col-sm">Роль</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.IdentityUsers)
        {
            <tr>
                <td class="align-middle">@Model.ApplicationUsers.FirstOrDefault(u => u.Email == user.Email)?.Name</td>
                <td class="align-middle">@user.Email</td>
                <td class="align-middle">@Model.ApplicationUsers.FirstOrDefault(u => u.Email == user.Email)?.GetType().Name</td>
                <td>
                    <a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id">Изменить</a>
                </td>
                <td>
                    <form method="post" asp-area="Authorization" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <br />
    <form asp-action="Index" asp-controller="Admin" method="post">
        <nav>
            <ul class="pagination justify-content-center fixed-bottom">
                @if (Model.CurrentPageIndex > 1)
                {
                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex - 1);">Назад</a></li>
                }

                @foreach (var index in Model.GetPageList(Model.CurrentPageIndex, Model.CurrentPageIndex + 4))
                {
                    @if (Model.PageCount > 1)
                    {
                        @if (index != Model.CurrentPageIndex)
                        {
                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@index);">@index</a></li>
                        }
                        else
                        {
                            <li class="page-item active"><a class="page-link">@index</a></li>
                        }
                    }
                }

                @if (Model.CurrentPageIndex < Model.PageCount)
                {
                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex + 1);">Вперед</a></li>
                }
            </ul>
        </nav>
        <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
    </form>
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hfCurrentPageIndex").value = index;
            document.forms[0].submit();
        }
    </script>
</div>